# =========================
# Compiled C / C++ / Arduino
# =========================

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# =========================
# Python / Raspberry Pi
# =========================

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments (venv / conda)
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

# Environment variables (gevoelige data)
.env
.env.local

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDE / Editor mappen
.vscode/
.idea/

# PlatformIO dependencies and local build tooling
.pio/
.venv-pio/
